Spinvoice.Application/Service References/ServerReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileParseServiceMock" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IFileParseService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Spinvoice.Common.Domain.Pdf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileParseService_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="IFileParseService_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="IFileParseService_Parse_InputMessage">
    <wsdl:part name="parameters" element="tns:Parse" />
  </wsdl:message>
  <wsdl:message name="IFileParseService_Parse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileParseService">
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileParseService/Sum" message="tns:IFileParseService_Sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileParseService/SumResponse" message="tns:IFileParseService_Sum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Parse">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileParseService/Parse" message="tns:IFileParseService_Parse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileParseService/ParseResponse" message="tns:IFileParseService_Parse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IFileParseService" type="tns:IFileParseService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IFileParseService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Sum">
      <soap12:operation soapAction="http://tempuri.org/IFileParseService/Sum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Parse">
      <soap12:operation soapAction="http://tempuri.org/IFileParseService/Parse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileParseServiceMock">
    <wsdl:port name="NetNamedPipeBinding_IFileParseService" binding="tns:NetNamedPipeBinding_IFileParseService">
      <soap12:address location="net.pipe://localhost/Spinvoice.Server.Services/FileParseService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/Spinvoice.Server.Services/FileParseService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>FXPRO\aUkolov</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>