Spinvoice.Application/Service References/ServerReference/Spinvoice.Common.Domain.Pdf.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Spinvoice.Common.Domain.Pdf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Spinvoice.Common.Domain.Pdf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PdfModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pages" nillable="true" type="tns:ArrayOfPageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PdfModel" nillable="true" type="tns:PdfModel" />
  <xs:complexType name="ArrayOfPageModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PageModel" nillable="true" type="tns:PageModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPageModel" nillable="true" type="tns:ArrayOfPageModel" />
  <xs:complexType name="PageModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Blocks" nillable="true" type="tns:ArrayOfBlockModel" />
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Sentences" nillable="true" type="tns:ArrayOfSentenceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageModel" nillable="true" type="tns:PageModel" />
  <xs:complexType name="ArrayOfBlockModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlockModel" nillable="true" type="tns:BlockModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlockModel" nillable="true" type="tns:ArrayOfBlockModel" />
  <xs:complexType name="BlockModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlockNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Sentences" nillable="true" type="tns:ArrayOfSentenceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlockModel" nillable="true" type="tns:BlockModel" />
  <xs:complexType name="ArrayOfSentenceModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SentenceModel" nillable="true" type="tns:SentenceModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSentenceModel" nillable="true" type="tns:ArrayOfSentenceModel" />
  <xs:complexType name="SentenceModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bottom" type="xs:double" />
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Left" type="xs:double" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SentenceModel" nillable="true" type="tns:SentenceModel" />
</xs:schema>